In [2]:
from tpot import TPOT
import pandas as pd

data=pd.read_csv('Data_FinalProject.csv', sep='/t')
data.head()

C:\Users\Akshay\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

  age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0  56,housemaid,married,basic.4y,no,no,no,telepho...
1  57,services,married,high.school,unknown,no,no,...
2  37,services,married,high.school,no,yes,no,tele...
3  40,admin.,married,basic.6y,no,no,no,telephone,...
4  56,services,married,high.school,no,no,yes,tele...

In [6]:
data.columns=['Temp']
data.head()

                                                Temp
0  56,housemaid,married,basic.4y,no,no,no,telepho...
1  57,services,married,high.school,unknown,no,no,...
2  37,services,married,high.school,no,yes,no,tele...
3  40,admin.,married,basic.6y,no,no,no,telephone,...
4  56,services,married,high.school,no,no,yes,tele...

In [13]:
Param_Split = pd.DataFrame(data.Temp.str.split(',').tolist(),
                           columns = ['Age','Job','Marital Status','Education','Default','Housing','Loan','Contact','Month','Day of Week','Duration','Campaign','PDays','Previous','Poutcome','Emp.Var.Rate','Cons.price.idx','Cons.conf.idx','Euribor3m','Nr.employed','Y'])

Param_Split.head()

,Age,Job,Marital Status,Education,Default,Housing,Loan,Contact,Month,Day of Week,...,Campaign,PDays,Previous,Poutcome,Emp.Var.Rate,Cons.price.idx,Cons.conf.idx,Euribor3m,Nr.employed,Y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [17]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(Param_Split, Param_Split.Y, train_size=0.75, test_size=0.25)

In [18]:
tpot = TPOT(generations=5)

In [19]:
tpot.fit(X_train, y_train)

In [20]:
print(tpot.score(X_test, y_test))

0.5